[Unit]
Description="Mμse Discord Music Bot"
After=network.target

[Service]
Type=simple
User=muse
ExecStart=/usr/bin/node /opt/Mu/muse.mjs
RestartSec=10
Restart=on-failure

[Install]
WantedBy=multi-user.target
